<!DOCTYPE html>
<head>
  <!-- divider -->
  <%= partial("views/components/container/meta.html") %>
  <!-- divider -->
  <%= partial("views/components/container/scripts.html") %>
</head>
<body hx-boost="true">
  <div class="grid grid-cols-1">
    <!-- divider -->
    <%= partial("views/components/header/header.html") %>
    <!-- divider -->
    <!-- <%= partial("views/components/toaster/toaster.html") %> -->
    <main id="root">
        <!-- divider -->
        <%= Wyield %>
    </main>
    <!-- <%= partial("views/components/container/footer.html") %> -->
  </div>
</body>
