<section class="bg-white dark:bg-gray-900">
  <div class="py-8 lg:py-16 mx-auto max-w-screen-xl px-4">
    <h2 class="mb-8 lg:mb-16 text-3xl font-extrabold tracking-tight leading-tight text-center text-gray-900 dark:text-white md:text-4xl">Golang + EJS + Tailwind + HTMX</h2>
    <div class="grid grid-cols-2 gap-8 text-gray-500 sm:gap-12 md:grid-cols-12 lg:grid-cols-12 dark:text-gray-400">
      <a href="https://terpusat.com/" target="_blank" class="flex justify-center items-center">
        <img src="https://ik.imagekit.io/terpusat/tr:h-300,w-300/assets/v1_0_0/logo/terpusat_YecCfAziS.png?ik-sdk-version=react-1.1.0" alt="Terpusat.Com" />
      </a>
    </div>
  </div>
</section>