<section id="find-users" class="m-4 bg-white dark:bg-gray-900">
  <div>
    <h2
      class="mb-4 text-2xl tracking-tight leading-none text-gray-900 dark:text-white"
    >
      List Members
    </h2>
  </div>
  <ul class="grid w-full gap-6 md:grid-cols-3">
    <%= if (users && len(users) > 0) { %>
    <!-- divider -->
    <%= for (data) in users { %>
    <!-- divider -->
    <%= partial("views/components/card/index.html") %>
    <!-- divider -->
    <% } %>
    <!-- divider -->
    <% } else { %>
    <div class="text-center">No data found.</div>
    <% } %>
  </ul>
  <div class="m-4 bg-white dark:bg-gray-900">
    <div class="flex">
      <!-- Previous Button -->
      <a
        href="#"
        class="flex items-center justify-center px-3 h-8 me-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        <svg
          class="w-3.5 h-3.5 me-2 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 5H1m0 0 4 4M1 5l4-4"
          />
        </svg>
        Previous
      </a>
      <a
        href="#"
        class="flex items-center justify-center px-3 h-8 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        Next
        <svg
          class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </a>
    </div>
  </div>
</section>
